body {
    font-family: 'Courier New', monospace;
    background-color: #1e1e1e;
    color: #d4d4d4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Changed from center to flex-start */
    min-height: 100vh; /* Changed from height to min-height */
    overflow-y: auto; /* Allow body to scroll if content is too big */
}

.terminal {
    background-color: #252526;
    border-radius: 8px;
    width: 600px;
    padding: 5px;
    padding-top: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin: 20px 0; /* Add some margin to avoid touching the edges */
}

.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #252526;
    z-index: 1;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #444; 
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 6px; 
    display: inline-block;
}

.red { background-color: #ff5f56; }
.yellow { background-color: #ffbd2e; }
.green { background-color: #27c93f; }

.filename {
    margin-left: 10px;
    color: #d4d4d4;
    font-size: 14px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.username {
    font-size: 24px;
    margin: 10px 0;
}

.bio {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.links, .projects {
    margin-bottom: 3px;
}

.link {
    display: flex;
    align-items: center;
    background-color: #2d2d2d;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    color: #d4d4d4;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #3d3d3d;
}

.gemeinderat-link {
    background-color: #ff1975 !important;
    color: #000000 !important;
}

.gemeinderat-link:hover {
    background-color: #e01666 !important;
    color: #000000 !important;
}

.link-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.projects h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.image-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.image-row .content-image {
    flex: 1;
    max-width: 48%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    font-weight: bolder;
}